{% liquid
  comment
    Snippet Options
  endcomment
  assign heading_title = ''
  assign heading_size = 'h3'
  assign item_width = '33%'
  assign limit = 999
  assign text_align = 'left'
  assign img_width = 100
  assign img_height = 100
  assign upsell_tag = 'upsell:'
  assign text_add_this = ''
  assign text_total_price = 'Total Combo'
  assign text_add_selected = 'Agregar combo al carrito'
%}

{% liquid
  assign product_handles = product.handle | append: ','
  for tag in product.tags
    if tag contains upsell_tag
      assign handle = tag | split: ':' | last
      assign product_handles = product_handles | append: handle | append: ','
    endif
  endfor
  assign product_handles = product_handles | split: ','
%}

{% if product_handles.size > 1 %}
  <style>
    /* General styles */
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border: 0;
    }
    @keyframes spinner-border {
        to { transform: rotate(360deg) }
    }
    .spinner-border {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: -0.125em;
        border: 0.15em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: 0.75s linear infinite spinner-border;
    }

    /* Snippet styling */
    frequently-bought-together {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0rem 0;
        text-align: {{ text_align }};
        height: auto;
        overflow-y: hidden;
        transition: all 500ms ease;
        transform-origin: center top;
        gap: 10px;
        position: relative;
    }
    frequently-bought-together ul{
       border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .fbt-heading-title {
        margin: 0 0 1rem;
    }
    .fbt-product-list {
        list-style: none;
        padding: 0;
    }
    .fbt-product-item {
        width: {{ item_width }};
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px 10px;
        background-color: white;
        justify-items: center;
        align-items: center;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid var(--main-gray);
    }
    .fbt-product-img {
      margin: auto;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .fbt-product-title {
      display: flex;
      align-items: center;
        margin: 0 0 .5rem;
        font-size: .875em;
    }
    .fbt-product-price {
        margin: 0 0 .5rem;
    }
    .fbt-product-price-compare {
        opacity: .5;
        font-size: .875em;
        margin-right: .25rem;
    }
    .fbt-product-price-final {
      text-align: center;
      margin: 0px;
    }
    .fbt-variant-select {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, .5);
        padding: 0.25rem;
        line-height: normal;
        display: block;
        margin: 0 0 0.5rem;
        color: rgba(0, 0, 0, .75);
    }
    .fbt-variant-select:focus {
        outline: none;
        border-color: rgba(0, 0, 0, 1);
        box-shadow: none;
    }
    .fbt-add-checkbox-wrapper {
        display: inline-flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }
    .fbt-add-checkbox-wrapper label{
      padding: 0px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 5px;
    }
    .fbt-add-checkbox-wrapper .fbt-add-checkbox {
        display: none;
    }
    .fbt-add-checkbox:checked + label {
      background-color: #2D9CDB;
      border: none;
    }
    .fbt-add-checkbox:checked + .fbt-add-checkbox-wrapper svg {
      opacity: 1;
    }
    .fbt-add-checkbox-wrapper label {
      border: 1px solid var(--main-gray);
    }

    .fbt-add-checkbox-wrapper svg {
      opacity: 0;
    }
    .fbt-total-price-wrapper {
        margin: 0 0 1rem;
        font-size: 1.125em;
    }

    .fbt-btn-atc {
        margin-bottom: .5rem;
    }
    .card-fbt-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding: 10px;
    }

    .slider-4 .slick-track{
      padding: 15px;
      gap: 10px;
    }

    .slider-4 .slick-prev {
      display: none;
    }

    .slider-4 .slick-next {
      top: 50%;
      right: 0px;
    }

    .agregado {
      margin: 0px;
      text-align: center;
    }

    .slick-next-c {
      position: absolute;
      top: 50%;
      right: 20px;
      background: transparent;
      border: none;
      cursor: pointer;
    }
        @media (max-width: 768px) {
    .slick-next-c {
      display: none;
    }
    /* General styles */
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border: 0;
    }
    @keyframes spinner-border {
        to { transform: rotate(360deg) }
    }
    .spinner-border {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: -0.125em;
        border: 0.15em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: 0.75s linear infinite spinner-border;
    }

    /* Snippet styling */
    frequently-bought-together {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0rem 0;
        text-align: {{ text_align }};
        height: auto;
        overflow-y: hidden;
        transition: all 500ms ease;
        transform-origin: center top;
        gap: 10px;
        position: relative;
    }
    frequently-bought-together ul{
       border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .fbt-heading-title {
        margin: 0 0 1rem;
    }
    .fbt-product-list {
        list-style: none;
        padding: 0;
        height: 200px;
        overflow: auto;
    }
    .fbt-product-item {
        width: 95%;
        height: 100px;
        display: flex;
        flex-direction: row;
        margin: 10px auto;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid var(--main-gray);
    }
    .fbt-product-img {
      margin: auto;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    .fbt-product-title {
      display: flex;
      align-items: center;
        margin: 0 0 0rem;
        font-size: 16px;
    }
    .fbt-product-price {
        margin: 0 0 .5rem;
    }
    .fbt-product-price-compare {
        opacity: .5;
        font-size: .875em;
        margin-right: .25rem;
    }
    .fbt-product-price-final {
      text-align: center;
      margin: 0px;
    }
    .fbt-variant-select {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, .5);
        padding: 0.25rem;
        line-height: normal;
        display: block;
        margin: 0 0 0.5rem;
        color: rgba(0, 0, 0, .75);
    }
    .fbt-variant-select:focus {
        outline: none;
        border-color: rgba(0, 0, 0, 1);
        box-shadow: none;
    }
    .fbt-add-checkbox-wrapper {
        display: inline-flex;
        width: 10%;
        padding: 5px;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }
    .fbt-add-checkbox-wrapper label{
      padding: 0px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 5px;
    }
    .fbt-add-checkbox-wrapper .fbt-add-checkbox {
        display: none;
    }
    .fbt-add-checkbox:checked + label {
      background-color: #2D9CDB;
      border: none;
    }
    .fbt-add-checkbox:checked + .fbt-add-checkbox-wrapper svg {
      opacity: 1;
    }
    .fbt-add-checkbox-wrapper label {
      border: 1px solid var(--main-gray);
    }

    .fbt-add-checkbox-wrapper svg {
      opacity: 0;
    }
    .fbt-total-price-wrapper {
        margin: 0 0 1rem;
        font-size: 1.125em;
    }

    .fbt-btn-atc {
        margin-bottom: .5rem;
    }
    .card-fbt-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 5px;
      padding: 10px;
      width: 70%;
    }

    .slider-4 .slick-track{
      padding: 15px;
      gap: 10px;
    }

    .slider-4 .slick-prev {
      display: none;
    }

    .slider-4 .slick-next {
      top: 50%;
      right: 0px;
    }

    .agregado {
      margin: 0px;
      text-align: center;
    }

    .slick-next-c {
      position: absolute;
      top: 50%;
      right: 20px;
      background: transparent;
      border: none;
      cursor: pointer;
    }


    }
  </style>

  <script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    window.addEventListener('DOMContentLoaded', (event) => { 
    window.money_format = "{{ shop.money_format }}"
    window.cart_route = "{{ routes.cart_url }}"

    class FrequentlyBoughtTogether extends HTMLElement {
        constructor () {
            super()

            this.querySelectorAll('.fbt-variant-select').forEach((select) => {
                select.addEventListener('change', () => {
                    this.onSelectChange(select)
                })
            })

            this.querySelectorAll('.fbt-add-checkbox').forEach((checkbox) => {
                checkbox.addEventListener('change', () => {
                    this.onCheckboxChange(checkbox)
                })
            })

            document.querySelector('.fbt-btn-atc').addEventListener('click', (event) => {
              event.preventDefault();
              this.addSelectedToCart.bind(this)
            })

        }

        onSelectChange (select) {
            const { image, comparePrice, price } = select.options[select.selectedIndex].dataset

            const productItem = select.closest('.fbt-product-item')
            const imgEl = productItem.querySelector('.fbt-product-img')
            const comparePriceEl = productItem.querySelector('.fbt-product-price-compare')
            const priceEl = productItem.querySelector('.fbt-product-price-final')

            if (image) {
                imgEl.setAttribute('src', image)
            }

            if (comparePrice) {
                comparePriceEl.style.display = 'inline-block'
                comparePriceEl.querySelector('s').textContent = this.moneyFormat(comparePrice)
            } else {
                comparePriceEl.style.display = 'none'
                comparePriceEl.querySelector('s').textContent = ''
            }
            
            priceEl.textContent = this.moneyFormat(price)

            this.calcTotalPrice()
        }

        onCheckboxChange (checkbox) {
            const productItem = checkbox.closest('.fbt-product-item')
            const imgEl = productItem.querySelector('.fbt-product-img')

            if (checkbox.checked) {
                productItem.querySelector('label svg').style.opacity = '1';
            } else {
                productItem.querySelector('label svg').style.opacity = '0';
            }
            
            this.calcTotalPrice()
        }

        calcTotalPrice () {
            let totalPrice = 0
            
            this.querySelectorAll('.fbt-variant-select').forEach((select) => {
                if (select.closest('.fbt-product-item').querySelector('.fbt-add-checkbox').checked) {
                    totalPrice += Number(select.options[select.selectedIndex].dataset.price)
                }
            })
            
            this.querySelector('.fbt-total-price').innerHTML = this.moneyFormat(totalPrice)

            if (totalPrice === 0) {
                this.querySelector('.fbt-btn-atc').disabled = true
            } else {
                this.querySelector('.fbt-btn-atc').disabled = false
            }
        }

        async addSelectedToCart () {
            const btn = this.querySelector('.fbt-btn-atc')
            btn.style.width = `${btn.clientWidth}px`

            btn.innerHTML = `
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            `

            const items = []

            this.querySelectorAll('.fbt-variant-select').forEach((select) => {
                if (select.closest('.fbt-product-item').querySelector('.fbt-add-checkbox').checked) {
                    items.push({
                        id: Number(select.value),
                        quantity: 1
                    })
                }
            })

            await fetch('/cart/add.js', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ items })
            })

            if (document.querySelector('#cart-drawer')) {
                btn.innerHTML = btn.dataset.textAddSelected
                loadEgCartDrawer(true)
            } else {
                location.href = window.cart_route
            }
        }

        // Shopify format money (helper function)
        // https://gist.github.com/stewartknapman/8d8733ea58d2314c373e94114472d44c
        moneyFormat (cents, format) {
            if (typeof cents === 'string') {
                cents = cents.replace('.', '');
            }
            let value = '';
            const placeholderRegex = /\{\{\s*(\w+)\s*\}\}/;
            const formatString = (format || window.money_format);

            function defaultOption(opt, def) {
                return (typeof opt === 'undefined' ? def : opt);
            }

            function formatWithDelimiters(number, precision, thousands, decimal) {
                precision = defaultOption(precision, 2);
                thousands = defaultOption(thousands, ',');
                decimal = defaultOption(decimal, '.');

                if (Number.isNaN(number) || number == null) { return 0; }

                number = (number / 100.0).toFixed(precision);

                const parts = number.split('.');
                const dollars = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + thousands);
                cents = parts[1] ? (decimal + parts[1]) : '';

                return dollars + cents;
            }

            switch (formatString.match(placeholderRegex)[1]) {
                case 'amount': value = formatWithDelimiters(cents, 2); break;
                case 'amount_no_decimals': value = formatWithDelimiters(cents, 0); break;
                case 'amount_with_comma_separator': value = formatWithDelimiters(cents, 2, '.', ','); break;
                case 'amount_no_decimals_with_comma_separator': value = formatWithDelimiters(cents, 0, '.', ','); break;
            }

            return formatString.replace(placeholderRegex, value);
        }
    }
    customElements.define('frequently-bought-together', FrequentlyBoughtTogether)
})

const initialize = () => {
  // Select all checkboxes within the frequently-bought-together container
  const checkboxes = document.querySelectorAll('.fbt-add-checkbox-wrapper .fbt-add-checkbox');

  // Loop through each checkbox
  checkboxes.forEach(checkbox => {
    // Find the closest SVG to the checkbox
    const svg = checkbox.closest('.fbt-add-checkbox-wrapper').querySelector('svg');
    const label = checkbox.closest('.fbt-add-checkbox-wrapper').querySelector('label');
    if (svg && label) {
      // If the checkbox is checked
      if (checkbox.checked) {
        svg.style.opacity = '1'; // Show the SVG
        label.style.backgroundColor = '#2D9CDB'; // Set the label background color to blue
        label.style.border = 'none'; // Remove the border
      } else {
        svg.style.opacity = '0'; // Hide the SVG with opacity
        label.style.backgroundColor = 'transparent'; // Reset the label background color
        label.style.border = '1px solid var(--main-gray)'; // Set the border to grey
      }
    }
  });
}

document.addEventListener('DOMContentLoaded', function() {
initialize();
})












































































  </script>

  <frequently-bought-together>
  {% comment %}
    <div class="payment-1">
      <button
        class="fbt-btn-atc button button--primary btn btn-primary subtitulo-3"
        type="button"
        data-text-add-selected="{{ text_add_selected }}"
      >
        {{ text_add_selected }}
      </button>
    </div>
  {% endcomment %}
    <ul class="fbt-product-list slider-4">
      {% for handle in product_handles limit: limit %}
        {% assign product = all_products[handle] %}
        {% assign total_price = total_price | plus: product.selected_or_first_available_variant.price %}
        <li class="fbt-product-item">
          <div class="fbt-add-checkbox-wrapper">
            {% if forloop.index == 1 %}
              <input id="fbt-add-checkbox-{{ product.id }}" class="fbt-add-checkbox" type="checkbox" checked>
            {% else %}
              <input id="fbt-add-checkbox-{{ product.id }}" class="fbt-add-checkbox" type="checkbox">
            {% endif %}
            <label class="subtitulo-5 olive" for="fbt-add-checkbox-{{ product.id }}">
              {% render 'fbt-check' -%}
              {{- text_add_this }}
            </label>
            <h3 class="fbt-product-title subtitulo-3" style="padding: 0 0 0 20px;">
              {% if forloop.index > 1 %}+{% endif -%}
              {{- product.title }}
            </h3>
          </div>

          <img
            class="fbt-product-img img-fluid {{ section.settings.fbt_product_img_border }}"
            src="{{ product.featured_image.src | image_url: width: img_width, height: img_height, crop: 'center' }}"
            alt="{{ product.featured_image.alt | escape }}"
            width="{{ img_width }}"
            height="{{ img_height }}"
            loading="lazy"
          >
          <div class="card-fbt-footer">
            <h3 class="fbt-product-title subtitulo-3">
              {% if forloop.index > 1 %}+{% endif -%}
              {{- product.title }}
            </h3>
            <p class="subtitulo-3 fbt-product-price-final">
              <strong>{{ product.price | money }} COP </strong>
            </p>
            <p class="parrafo-3 agregado">MONTO AGREGADO</p>
          </div>
          <select class="fbt-variant-select" name="id" aria-label="Select variant" style="{% if product.has_only_default_variant %}display: none;{% endif %}">
                    {% for variant in product.variants %}
                        {% liquid
                            assign variant_image = nil
                            if variant.image
                                assign variant_image = variant.image | image_url: width: img_width, height: img_height, crop: 'center'
                            endif
                        %}    
                        <option value="{{ variant.id }}" data-image="{{ variant_image }}" data-compare-price="{{ variant.compare_at_price }}" data-price="{{ variant.price }}" {% unless variant.available %}disabled{% endunless %}>
                            {{ variant.title }}
                        </option>
                    {% endfor %}
                </select>
        </li>
      {% endfor %}
    </ul>
    <button type="button" class="slick-next-c">{% render 'fbt-arrow' %}</button>
    {% comment %}
      <p class="fbt-total-price-wrapper">
        <span class="subtitulo-1"> {{ text_total_price }}: </span>
        <b class="subtitulo-1 fbt-total-price">
          {{ total_price | money }}
        </b>
      </p>
    {% endcomment %}
  </frequently-bought-together>
{% endif %}

<script>
  $('.slick-next-c').on('click', () => {$('.slider-4').slick('slickNext')});

  if ($(window).width() < 768) {
     $(".fbt-product-list").removeClass("slider-4");
      document.querySelectorAll('.fbt-product-item').forEach((item) => {
      item.querySelector('.fbt-product-title').style.display = 'none';
      })
  }
</script>
