<hor-product-card class="horizontal">
  <img
    class="hor-product-card-image {{ classes }}"
    src="{{ hero-product.featured_image | img_url }}"
    alt="{{ hero-product.featured_image.alt }}"
  >
  <card-product-info class="card-width">
    <product-card-title>
      <p class="parrafo-4 collection-tag">{{ hero-product.collections[0].title }}</p>
      <p class="parrafo-1 card-product-title">{{ hero-product.title }}</p>
      <p class="parrafo-2">{{ hero-product.description | strip_newlines }}</p>
    </product-card-title>
    <card-footer>
      <p class="price parrafo-1">{{ hero-product.price | money_with_currency }}</p>
      <form action="/cart/add" method="post" id="product-form-{{ hero-product.id }}" class="atc-btn-form">
        <input type="hidden" name="id" value="{{ hero-product.variants.first.id }}">
        <button type="submit" name="add" class="card-add-to-cart">
          {% render 'icon-cart' %}
          <p class="subtitulo-5 atc-btn-text">
            {{ atc-btn }}
          </p>
        </button>
      </form>
    </card-footer>
  </card-product-info>
</hor-product-card>
