<product-card>
  <img
    class="product-card-image"
    src="{{ hero-product.featured_image | img_url }}"
    alt="{{ hero-product.featured_image.alt }}">
  <card-product-info>
    <p class="parrafo-4 collection-tag">{{ hero-product.collections[0].title }}</p>
    <p class="parrafo-1 card-product-title">{{ hero-product.title }}</p>
    <card-footer>
      <p class="price">{{ hero-product.price }}</p>
      <button class="card-add-to-cart">
        {% render 'icon-cart' %}
        <p class="subtitulo-5">
          {{ atc-btn }}
        </p>
      </button>
    </card-footer>
  </card-product-info>
</product-card>