<product-card>
  <img
    class="product-card-image {{ classes }}"
    src="{{ hero-product.featured_image | img_url }}"
    alt="{{ hero-product.featured_image.alt }}"
  >
  <card-product-info class="card-width">
    <product-card-title>
      <p class="parrafo-4 collection-tag">{{ hero-product.collections[0].title }}</p>
      <p class="parrafo-1 card-product-title">{{ hero-product.title }}</p>
    </product-card-title>
    <card-footer>
      <p class="price parrafo-1">{{ hero-product.price | money_with_currency }}</p>
      <form action="/cart/add" method="post" id="product-form- {{ product.id }}">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
        <div>
          <button type="submit" name="add" class="card-add-to-cart">
            {% render 'icon-cart' %}
            <p class="subtitulo-5 atc-btn-text">
              {{ atc-btn }}
            </p>
          </button>
        </div>
      </form>
    </card-footer>
  </card-product-info>
</product-card>
