<product-card class="vertical">
  {% assign class = 'product-card-image ' | append: classes %}
  {{ hero-product | img_tag: hero-product.featured_image.alt, class, '300x256' }}
  <card-product-info class="card-width">
    <product-card-title>
      <p class="parrafo-4 collection-tag">{{ hero-product.collections[0].title }}</p>
      <p class="parrafo-1 card-product-title">{{ hero-product.title }}</p>
    </product-card-title>
    <card-footer>
      <p class="price parrafo-1">{{ hero-product.price | money }}</p>
      <form action="/cart/add" method="post" id="product-form-{{ hero-product.id }}" class="atc-btn-form">
        <input type="hidden" name="id" value="{{ hero-product.variants.first.id }}">
        <button type="submit" name="add" class="card-add-to-cart">
          {% render 'icon-cart' %}
          <p class="subtitulo-5 atc-btn-text">
            {{ atc-btn }}
          </p>
          <p class="subtitulo-5 atc-btn-text text-responsive">
            {{ atc-rsp }}
          </p>
        </button>
      </form>
    </card-footer>
  </card-product-info>
</product-card>

<script>
  
  
      
    // product cards

      var titles = document.querySelectorAll('inline-half-container .card-product-title');

    // Find the tallest element
    var maxHeight3 = 0;
    titles.forEach(title => {
      if (title.offsetHeight > maxHeight3) {
        maxHeight3 = title.offsetHeight;
      }
    });

    // Set the min-height of all elements to the maxHeight
    titles.forEach(title1 => {
      title1.style.minHeight = `${maxHeight3}px`;
    });

    var titles1 = document.querySelectorAll('main-ba-container .card-product-title');

    // Find the tallest element
    var maxHeight1 = 0;
    titles1.forEach(title => {
      if (title.offsetHeight > maxHeight1) {
        maxHeight1 = title.offsetHeight;
      }
    });

    // Set the min-height of all elements to the maxHeight
    titles1.forEach(title => {
      title.style.minHeight = `${maxHeight1}px`;
    });

    var titles2 = document.querySelectorAll('.fbt-product-title');

    // Find the tallest element
    var maxHeight2 = 0;
    titles2.forEach(title => {
      if (title.offsetHeight > maxHeight2) {
        maxHeight2 = title.offsetHeight;
      }
    });

    // Set the min-height of all elements to the maxHeight
    titles2.forEach(title => {
      title.style.minHeight = `${maxHeight2}px`;
    });


  // Select the container
  var container = document.querySelector('inline-half-container');

      // Compute the total height of all its children
      var totalHeight = 0;
      if (container.children){
      for (let child of container.children) {
          totalHeight += child.offsetHeight;
      }
      }
      // Set the container's height to that computed value
      container.style.height = `${totalHeight}px`;

    })


</script>
