<!doctype html>
<html lang="es">
  <head>
    <style>
      @font-face {
        font-family: 'NewYork';
        src: url('https://cdn.shopify.com/s/files/1/2429/0623/files/NewYork_PERSONAL_USE.woff2?v=1690473581'), url('https://cdn.shopify.com/s/files/1/2429/0623/files/NewYork_PERSONAL_USE.woff2?v=1690473581');
      }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% capture h_header %}
    {% comment %}{{ content_for_header }}{% endcomment %}
    {{ content_for_header | replace:'Google Analytics"', 'Null Google Analytics"' }}
    {% endcapture %}
    {{ h_header | replace:'<meta name="robots" content="noindex,nofollow">':'<meta name="robots" content="index,follow">' }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    >
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    >
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    <meta name="robots" content="index,follow">
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MP5D654');
    </script>
    <!-- End Google Tag Manager -->
    <script>
      console.log("carrito");
      {% if template contains 'cart' %}
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
      'event': 'view_cart',
      'currency': {{cart.currency.iso_code | json}},
      'value': {{cart.total_price| times: 0.01}},
      'items': [
      {% for item in cart.items %}
      {
      'item_id': "idshopify_CO_" + {{ item.variant.product.id }} + "_" + {{ item.variant_id }},
      'item_name': '{{item.title}}',
      'quantity': '{{item.quantity}}',
      'item_brand': {{item.product.vendor | json}},
      'item_category' : {{item.product.type | json}},
      'price': {{ item.price }}
      },
      {% endfor %}
      ]
      });
      {% endif %}

    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MP5D654"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="added-to-cart">
      <div class="pop-container">
        <p class="titulo-3">Haz agregado a tu carrito.</p>

        <!-- Cart items placeholder -->
        <div class="cart-items-list">
          <!-- Items will be dynamically added here -->
        </div>

        <button class="subtitulo-1 view-cart  grow">Ver carrito</button>
        <button class="subtitulo-1 keep-buying grow">Seguir comprando</button>
      </div>
    </div>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script
      type="text/javascript"
    >



      $(document).ready(function() {
          $('.slider').slick({
              infinite: true,
              slidesToShow: 3,
              slidesToScroll: 3,
          });

          $('.slider-4').slick({
              infinite: false,
              slidesToShow: 3,
              slidesToScroll: 3,
              arrows: false,
          });

          let isSliding = false;

          var handleWheel = function(e) {
              if (isSliding) return; // If already sliding, ignore the event

              e.stopPropagation(); // Prevent the event from bubbling up

              // Check for horizontal scroll
              if (e.originalEvent.deltaX > 0) {
                  e.preventDefault(); // Prevent horizontal scroll
                  $(this).slick('slickNext'); // Simulate click on next button
              } else if (e.originalEvent.deltaX < 0) {
                  e.preventDefault(); // Prevent horizontal scroll
                  $(this).slick('slickPrev'); // Simulate click on previous button
              }

              isSliding = true; // Set the flag
              setTimeout(() => {
                  isSliding = false; // Reset the flag after 200ms
              }, 200);
          };

          $('.slider').on('wheel', function(e) {
              if (Math.abs(e.deltaX) > Math.abs(e.deltaY)) {
                  e.preventDefault();
              }
              handleWheel.call(this, e);
          });

          // Repeat the same for other sliders
          $('.slider-3').slick({
              infinite: true,
              slidesToShow: 3,
              slidesToScroll: 3,
          });
          $('.slider-3').on('wheel', handleWheel);
          $('.slider-4').on('wheel', handleWheel);

          $('.slider-2').slick({
              infinite: true,
              slidesToShow: 5,
              slidesToScroll: 2,
              autoplay: true,
              autoplaySpeed: 10000,
          });
          $('.slider-2').on('wheel', handleWheel);
      });


// Function to handle Add to Cart action
async function handleAddToCart(e) {
    e.preventDefault();

    // Fetch the nearest form or the form containing the add to cart button
    const form = e.target.closest('form');

    // If form is not found, exit
    if (!form) return;

    // Find the button within the form to display loading spinner
    const btn = form.querySelector('button[type="submit"], input[type="submit"]');
    if (btn) {
        btn.style.width = `${btn.clientWidth}px`;
        btn.innerHTML = `
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        `;
    }

    const items = [];

    // Assuming every form will have an input with name="id" to get product ID
    const productIdInput = form.querySelector('input[name="id"]');
    if (productIdInput) {
        items.push({
            id: Number(productIdInput.value),
            quantity: 1  // Assuming quantity is 1, you can adjust based on your needs
        });
    }

    const  response = await fetch('/cart/add.js', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ items })
    });

    if (btn) {
        btn.innerHTML = `
                    {% render 'icon-cart' %}
                <p class="add-t-cart-text subtitulo-2">
                  {{ section.settings['button-title'] }}
                </p>
                `;  // Placeholder text, replace with your desired text or icon
    }

    // Show the popup
    const popup = document.querySelector('.added-to-cart');
    if (popup) {
        popup.style.display = 'flex';
    }

              fetch('/cart.js')
    .then(response => response.json())
    .then(async cart => {
        const cartItemsContainer = document.querySelector('.cart-items-list');
        cartItemsContainer.innerHTML = '';  // Clear previous items
        
        for (const item of cart.items) {
            // Fetch product details to get the collection
            const productDetails = await fetch(`/products/${item.handle}.json`).then(response => response.json());

            console.log(productDetails)
            
            const collectionTitle = productDetails.product && productDetails.product.product_type
                                    ? productDetails.product.product_type 
                                    : '';

            const cartItem = document.createElement('div'); // Create a table row
            cartItem.innerHTML = `
                <div class="parrafo-3">
                    <image class="cart-item-image">
                        <img class="cart-image-tag" src="${item.image}" alt="${item.title}" width="85">
                    </image>
                    <div class="pop-text-container">
                        <p class="parrafo-5 collection-tag">${collectionTitle}</p>
                        <p class="pc-title subtitulo-3">${item.title}</p>
                    </div>
                    <p class="quantity pc-title subtitulo-1">${'x' + item.quantity}</p>
                    <p class="parrafo-2 price">${'$' + (parseFloat(item.price) / 100).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, '.').replace(/\.(\d{2})$/, ',$1')}</p>
                </div>
            `;
            cartItemsContainer.appendChild(cartItem);
        }
    });


}

// Attach event listener to all Add to Cart buttons
document.querySelectorAll('.atc-btn-form').forEach(form => {
    const btn = form.querySelector('button[type="submit"], input[type="submit"]');
    if (btn) {
        btn.addEventListener('click', handleAddToCart);
    }
});

    document.addEventListener('DOMContentLoaded', () => {
          var keepBuying = document.querySelector('.keep-buying');
    keepBuying.addEventListener('click', () => {
      document.querySelector('.added-to-cart').style.display = 'none';
    })
    var viewCart = document.querySelector('.view-cart');
      viewCart.addEventListener('click', () => {
        location.href = '/cart'
      })
    })
    </script>
    {% section 'telefono' %}
  </body>
  <script src="{{ 'main.js' | asset_url }}"></script>
</html>
