<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floristeria Cardo</title>
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
    <style>
      @font-face {
        font-family: 'NewYork';
        src: url('{{ "NewYork-PERSONAL-USE.woff" | asset_url }}'), url('{{ "NewYork-PERSONAL-USE.woff" | asset_url }}');
      }
      @font-face {
        font-family: 'DM sans';
        src: url('{{ "FontsFree-Net-SFProText-Semibold.woff" | asset_url }}'), url('{{ "FontsFree-Net-SFProText-Semibold.woff" | asset_url }}');
      }
    </style>
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
  </body>
  <script src="{{ 'main.js' | asset_url }}"></script>
</html>
