<!doctype html>
<html lang="es">
  <head>
    <style>
      @font-face {
        font-family: 'NewYork';
        src: url('https://cdn.shopify.com/s/files/1/2429/0623/files/NewYork_PERSONAL_USE.woff2?v=1690473581'), url('https://cdn.shopify.com/s/files/1/2429/0623/files/NewYork_PERSONAL_USE.woff2?v=1690473581');
      }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% capture h_header %}
    {{ content_for_header }}
    {% endcapture %}
    {{ h_header | replace:'<meta name="robots" content="noindex,nofollow">':'<meta name="robots" content="index,follow">' }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    >
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    >
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    <meta name="robots" content="index,follow">
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script type="text/javascript">
          $(document).ready(function(){
            $('.slider').slick({
              infinite: true,
              slidesToShow: 3,
              slidesToScroll: 3,
            });


      // Debounce function
      function debounce(func, wait) {
          var timeout;
          return function() {
              var context = this, args = arguments;
              clearTimeout(timeout);
              timeout = setTimeout(function() {
                  func.apply(context, args);
              }, wait);
          };
      }

      // Wheel event handler wrapped in debounce
      var handleWheel = debounce(function(e) {
          // Check for horizontal scroll
          if (e.originalEvent.deltaX > 0) {
              e.preventDefault(); // Prevent horizontal scroll
              $(this).find('.slick-next').click(); // Simulate click on next button
          } else if (e.originalEvent.deltaX < 0) {
              e.preventDefault(); // Prevent horizontal scroll
              $(this).find('.slick-prev').click(); // Simulate click on previous button
          }
          // For vertical scroll, do nothing and let the page scroll normally
      }, 400);


            $('.slider-3').slick({
              infinite: true,
              slidesToShow: 3,
              slidesToScroll: 3,
            });

            $('.slider-2').slick({
              infinite: true,
              slidesToShow: 5,
              slidesToScroll: 2,
              autoplay: true,
              autoplaySpeed: 10000,
            });
                $('.slider').on('wheel', handleWheel);
            $('.slider-2').on('wheel', handleWheel);
      $('.slider-3').on('wheel', handleWheel);

        });
          });
    </script>
  </body>
  <script src="{{ 'main.js' | asset_url }}"></script>
</html>
