<main-ba-container>
  {% assign collectionMetafields = collection.metafields.custom.featured_collection.value %}
  <con-t>
    <h1 class="titulo-1" id="title-ba-1">
      {% if collection.metafields.custom.page_title != blank %}
        {{ collection.metafields.custom.page_title }}
      {% else %}
        {{ section.settings.title }}
      {% endif %}
    </h1>
    <p class="parrafo-1" id="parrafo-ba-1">
      {% if collection.metafields.custom.page_description != blank %}
        {{ collection.metafields.custom.page_description }}
      {% else %}
        {{ section.settings.subtitle }}
      {% endif %}
    </p>
    <buttons-ba-container>
      <a href="{{ section.settings.button_link-4.src }}" class="ver-por-ocasion subtitulo-3 grow">
        {% if collection.metafields.custom.page_button_1 != blank %}
          {{ collection.metafields.custom.page_button_1 }}
        {% else %}
          {{ section.settings.button_lin4 }}
        {% endif %}
      </a>
      <a href="{{ section.settings.button_link-5.src }}" class="contact-button subtitulo-3 grow">
        {% if collection.metafields.custom.page_button_2 != blank %}
          {{ collection.metafields.custom.page_button_2 }}
        {% else %}
          {{ section.settings.button_lin5 }}
        {% endif %}
      </a>
    </buttons-ba-container>
  </con-t>

  <collection-slider-2 class="slider-3">
    {% assign products = collection.metafields.custom.featured_collection.value.products %}

    {% if products.size > 0 %}
      {% for hero-product in products %}
        <a class="product-item" href="{{ hero-product.url }}">
          {% include 'product-card',
            hero-product: hero-product,
            atc-btn: section.settings['add-to-cart-title'],
            atc-rsp: section.settings['add-to-cart-title-mobile'],
            classes: 'hero'
          %}
        </a>
      {% endfor %}
    {% else %}
      {% assign alternative_collection = collections[section.settings.alternative_collection] %}
      {% for alternative-product in alternative_collection.products %}
        <a class="product-item" href="{{ alternative-product.url }}">
          {% include 'product-card',
            hero-product: alternative-product,
            atc-btn: section.settings['add-to-cart-title'],
            atc-rsp: section.settings['add-to-cart-title-mobile'],
            classes: 'hero'
          %}
        </a>
      {% endfor %}
    {% endif %}
  </collection-slider-2>
  <inline-half-container>
    <products-container class="overflow-auto drag-scroll">
      {% if products.size > 0 %}
        {% for hero-product in products %}
          <a class="product-item" href="{{ hero-product.url }}">
            {% include 'product-card',
              hero-product: hero-product,
              atc-btn: section.settings['add-to-cart-title'],
              atc-rsp: section.settings['add-to-cart-title-mobile'],
              classes: 'hero'
            %}
          </a>
        {% endfor %}
      {% else %}
        {% assign alternative_collection = collections[section.settings.alternative_collection] %}
        {% for alternative-product in alternative_collection.products %}
          <a class="product-item" href="{{ alternative-product.url }}">
            {% include 'product-card',
              hero-product: alternative-product,
              atc-btn: section.settings['add-to-cart-title'],
              atc-rsp: section.settings['add-to-cart-title-mobile'],
              classes: 'hero'
            %}
          </a>
        {% endfor %}
      {% endif %}
    </products-container>
  </inline-half-container>

  <container-flor1-2 id="asd">
    {% render 'Flor1-2' %}
  </container-flor1-2>
  <container-flor2-3 class="asb">
    {% render 'Flor2-3' %}
  </container-flor2-3>
</main-ba-container>
{% schema %}
{
  "name": "Banner 2",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Titulo",
      "default": "Lorem ipsum dolor sit amet"
    },
      {
      "type": "text",
      "id": "add-to-cart-title",
      "label": "Titulo",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "type": "text",
      "id": "add-to-cart-title-mobile",
      "label": "Titulo para movil",
      "default": "Añadir"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "subtitle",
      "default": "Pellentesque cras adipiscing tempus libero vel nullam mauris tellus. Aliquam ultrices tellus consequat amet,"
    },
    {
      "type": "text",
      "id": "button_lin4",
      "label": "ver por ocasion",
      "default": "Ver Por Ocasion"
    },
    {
      "type": "text",
      "id": "button_lin5",
      "label": "contacto button",
      "default": "Contactanos"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "collection"
    },
       {
      "type": "collection",
      "id": "alternative_collection",
      "label": "Colección alternativa"
    },
    {
      "type": "url",
      "id": "button-link-4",
      "label": "Button link"
    },
    {
      "type": "url",
      "id": "button-link-5",
      "label": "Button link"
    }
  ],
  "presets": [{
    "name": "banner-2"
  }
  ]
}
{% endschema %}
