<main-ba-container>
  <con-t>
    <h1 class="titulo-1" id="title-ba-1">
      {{ section.settings.title }}
    </h1>
    <p class="parrafo-1" id="parrafo-ba-1">
      {{ section.settings.subtitle }}
    </p>
    <buttons-ba-container>
      <a href="{{ section.settings.button_link-4 }}" class="ver-por-ocasion subtitulo-3">
        {{ section.settings.button_lin4 }}
      </a>
      <a href="{{ section.settings.button_link-5 }}" class="contact-button subtitulo-3">
        {{ section.settings.button_lin5 }}
      </a>
    </buttons-ba-container>
  </con-t>
      {% for collection in section.settings.collection_list %}
        <a class="collection-item" href="{{ collection.url }}">
          {% include 'collection-card', collection: collection %}
        </a>
      {% endfor %}
</main-ba-container>

{% schema %}
  {
    "name": "Banner 2",
      "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Titulo",
        "default": "Lorem ipsum dolor sit amet"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "subtitle",
        "default": "Pellentesque cras adipiscing tempus libero vel nullam mauris tellus. Aliquam ultrices tellus consequat amet,"
      },
      {
        "type": "text",
        "id": "button_lin4",
        "label": "ver por ocasion",
        "default": "Ver Por Ocasion"
      },
      {
        "type": "text",
        "id": "button_lin5",
        "label": "contacto button",
        "default": "Contactanos"
      },
      {
        "type": "collection",
        "id": "collection_list",
        "label": "collection"
      },
      {
        "type": "url",
        "id": "button-link-4",
        "label": "Button link" 
      },
      {
        "type": "url",
        "id": "button-link-5",
        "label": "Button link"
      }
    ],
    "presets": [{
      "name": "banner-2"
    }
    ]
  }
{% endschema %}