<footer>
  <item class="info-marca">
    <img src="{{ settings.logo.src | img_url }}"alt="{{ settings.logo.alt }}">
    <p class="parrafo-1">{{ section.settings.descripcion-marca }}</p>
  </item>
  <item>
    <h5 class="titulo-5">{{ section.settings.titulo-menu }}</h5>
    <menu>
      <ul>
        {% for link in section.settings.menu-footer.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </menu>
  </item>
  <item class="contact">
    <form>
      <input type="text">
      <label for=""></label>
      <button></button>
    </form>
  </item>
</footer>
{% schema %}
  {
    "name": "Custom footer",
    "settings": [
      {
        "type": "textarea",
        "id": "descripcion-marca",
        "label": "Descripción",
        "default": "Descripción"
      }, {
        "type": "text",
        "id": "titulo-menu",
        "default": "Titulo",
        "label": "Título"
      }, {
        "type": "link_list",
        "id": "menu-footer",
        "default": "footer",
        "label": "Selecciona el menú"
      }
    ]
  }
{% endschema %}
</footer>
