<footer-container class="page-width">
  <footer class="container">
    <item class="info-marca">
      <a href="/">
        <img src="{{ settings.logo.src | img_url }}" alt="{{ settings.logo.alt }}" width="auto" height="auto">
      </a>
      <p class="parrafo-3">{{ section.settings['descripcion-marca'] }}</p>
      <container-resumen-1>
        <met-pagos-1>
          <p class="subtitulo-2" id="pagos">Metodos de Pagos</p>
          <container-met-pagos>
            <metodo>
              {% render 'cart-vs' %}
            </metodo>
            <metodo>
              {% render 'cart-mc' %}
            </metodo>
            <metodo>
              <img src="https://cdn.shopify.com/shopifycloud/admin-ui-foundations/payment-icons/d3e3d.svg" width="70">
            </metodo>
            <metodo>
              {% render 'cart-pu' %}
            </metodo>
          </container-met-pagos>
        </met-pagos-1>
      </container-resumen-1>
    </item>
    <menu class="item-menu-1">
      <h3 class="subtitulo-3">{{ section.settings['titulo-menu-1'] }}</h3>
      <ul>
        {% for link in section.settings['menu-footer-1'].links %}
          <li class="grow">
            <a href="{{ link.url }}" class="subtitulo-3">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </menu>
    <menu class="item-menu-2">
      <h3 class="subtitulo-3">{{ section.settings['titulo-menu-2'] }}</h3>
      <ul>
        {% for link in section.settings['menu-footer-2'].links %}
          <li class="grow">
            <a href="{{ link.url }}" class="subtitulo-3">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </menu>
    <menu-mobile class="item-mobile">
      <ul>
        {% for link in section.settings['menu-mobile'].links %}
          <li class="grow">
            <a href="{{ link.url }}" class="subtitulo-3">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </menu-mobile>
    <item class="contacto">
      <h3 class="subtitulo-3">{{ section.settings['titulo-contacto'] }}</h3>
      {% form 'customer' %}
        <form>
          <input
            class="email"
            type="email"
            name="contacto"
            placeholder="{{ section.settings.label-form }}"
          >
          <button class="grow siguiente" type="submit">
            {% render 'icon-next-footer' %}
          </button>
        </form>
      {% endform %}
      <ul id="footer-contacto">
        {% if section.settings['correo-contacto'] != blank %}
          <li class="grow correo">
            <h5 class="subtitulo-4 ">
              {% render 'icon-gmail' %}
              {{ section.settings['correo-contacto'] }}
            </h5>
          </li>
        {% endif %}
        {% if section.settings['telefono-contacto'] != blank %}
          <li class="grow telefono">
            <h5 class="subtitulo-4 ">
              {% render 'icon-phone' %}
              {{ section.settings['telefono-contacto'] }}
            </h5>
          </li>
        {% endif %}
        {% if section.settings['direccion-contacto'] != blank %}
          <li class="grow ubicacion">
            <h5 class="subtitulo-4 ">
              {% render 'icon-location' %}
              {{ section.settings['direccion-contacto'] }}
            </h5>
          </li>
        {% endif %}
      </ul>
    </item>
  </footer>
  <social-mobile>
    {% if section.settings['url-facebook'] != blank %}
      <a class="grow" href="{{ section.settings.url-facebook }}">
        {% render 'icon-facebook' %}
      </a>
    {% endif %}
    {% if section.settings['url-messenger'] != blank %}
      <a class="grow" href="{{ section.settings.url-messenger }}">
        {% render 'icon-messenger' %}
      </a>
    {% endif %}
    {% if section.settings['url-instagram'] != blank %}
      <a class="grow" href="{{ section.settings.url-instagram }}">
        {% render 'icon-instagram' %}
      </a>
    {% endif %}
  </social-mobile>
  <hr>
  <footer-copyright>
    <p class="parrafo-2">춸Copyright 2023 Florister칤a Card칩. Hecho con 游뱚 por <a href="https://almasagencia.com/">Almas Agencia</a></p>
    <links-social>
      {% if section.settings['url-facebook'] != blank %}
        <a href="{{ section.settings.url-facebook }}">
          {% render 'icon-facebook' %}
        </a>
      {% endif %}
      {% if section.settings['url-messenger'] != blank %}
        <a href="{{ section.settings.url-messenger }}">
          {% render 'icon-messenger' %}
        </a>
      {% endif %}
      {% if section.settings['url-instagram'] != blank %}
        <a href="{{ section.settings.url-instagram }}">
          {% render 'icon-instagram' %}
        </a>
      {% endif %}
    </links-social>
  </footer-copyright>
</footer-container>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": " ----------- Item descripci칩n ----------- "
    },
    {
      "type": "textarea",
      "id": "descripcion-marca",
      "label": "Descripci칩n",
      "default": "Descripci칩n"
    },
    {
      "type": "header",
      "content": " ----------- Items con men칰 ----------- "
    },
    {
      "type": "text",
      "id": "titulo-menu-1",
      "default": "Titulo",
      "label": "T칤tulo del primer item"
    }, {
      "type": "link_list",
      "id": "menu-footer-1",
      "default": "footer",
      "label": "Men칰 del primer item "
    }, {
      "type": "text",
      "id": "titulo-menu-2",
      "default": "Titulo",
      "label": "T칤tulo del segundo item "
    }, {
      "type": "link_list",
      "id": "menu-footer-2",
      "default": "footer",
      "label": "Men칰 del segundo item"
    }, {
      "type": "header",
      "content": " ----------- Menu mobile ----------- "
    }, {
      "type": "link_list",
      "id": "menu-mobile",
      "default": "footer",
      "label": "Men칰 para celular"
    }, {
      "type": "header",
      "content": " ----------- Item cont치ctanos ----------- "
    }, {
      "type": "text",
      "id": "titulo-contacto",
      "default": "Contacto",
      "label": "T칤tulo"
    }, {
      "type": "text",
      "id": "label-form",
      "default": "Tu e-mail",
      "label": "Label del formulario"
    }, {
      "type": "text",
      "id": "correo-contacto",
      "label": "Correo"
    }, {
      "type": "text",
      "id": "telefono-contacto",
      "label": "Telefono"
    }, {
      "type": "text",
      "id": "direccion-contacto",
      "label": "Direcci칩n"
    }, {
      "type": "header",
      "content": " ----------- Links cont치ctanos ----------- "
    }, {
      "type": "url",
      "id": "url-facebook",
      "label": "Facebook"
    }, {
      "type": "url",
      "id": "url-messenger",
      "label": "Messenger"
    }, {
      "type": "url",
      "id": "url-instagram",
      "label": "Instagram"
    }
  ]
}
{% endschema %}
