<header>
  <button class="hamburger-menu">
    {% render 'icon-hamburguer-menu' %}
  </button>
  <nav class="responsive-menu">
    <button class="close-drawer">
      {% render 'icon-close' %}
    </button>
    {% for link in section.settings.main-menu.link %}
      <ul class="drawer-items">
        <li class="drawer-item">
          <a href="{{ link.url }}" class="menu-link">
            {{ link.title }}
            {% if link.links != blank %}
              {% render 'icon-arrow-down' %}
            {% endfor %}
          </a>
          {% if link.links != blank %}
            <div class="dropdown-mega-menu">
              {% for mega_link in link.links %}
                <div class="mega-menu-item">
                  <a href="{{ mega_link.url }}" class="mega-menu-text menu-link subtitulo-3">
                    {{ mega_link.title }}
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </li>
      </ul>
    {% endfor %}
  </nav>

  <img
    src="{{ settings.logo.src | img_url }}"
    alt="{{ settings.logo.alt }}"
    class="header-logo" />

  <nav class="navigation-menu">
    <ul class="menu-items">
      {% for link in section.settings.main-menu.links %}
        <li class="menu-item {% if link.links != blank %}has-mega-menu{% endif %}">
          <a href="{{ link.url }}" class="menu-link">
            <span class="menu-link-title subtitulo-3">{{ link.title }}</span>
            {% if link.links != blank %}
              {% render 'icon-arrow-down' %}
            {% endif %}
          </a>
          {% if link.links != blank %}
            <div class="mega-menu">
              {% for mega_link in link.links %}
                <div class="mega-menu-item">
                  <a href="{{ mega_link.url }}" class="mega-menu-text menu-link subtitulo-3">
                    {{ mega_link.title }}
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

  <button class="add-to-cart">
    {% render 'icon-cart' %}
    <p class="add-to-cart-text">Carrito</p>
  </button>
</header>


{% schema %}
  {
    "name": "header",
    "settings": [
      {
        "type": "link_list",
        "id": "main-menu",
        "label": "Menu principal del encabezado"
      }
    ]
  }
{% endschema %}