<header>
  <button class="hamburguer-menu">
    {% render 'icon-hamburguer-menu' %}
  </button>
  <nav class="responsive-menu">
    <button class="close-drawer">
      {% render 'icon-close' %}
    </button>
    <drawer-content class="absolute">
      {% for link in section.settings.main-menu.links %}
        <ul class="drawer-items">
          <li class="drawer-item-container">
            <navigation-item class="drawer-item">
              <span class="menu-link-title subtitulo-2">
                <a href="{{ link.url }}" class="menu-link">
                  {{ link.title }}
                </a>
              </span>
              <span class="dropdown-open">
                {% if link.links != blank %}
                  {% render 'icon-arrow-down' %}
                {% endif %}
              </span>
            </navigation-item>
            {% if link.links != blank %}
              <dropdown-mega-menu>
                {% for mega_link in link.links %}
                  <mega-menu-item>
                    <a href="{{ mega_link.url }}" class="mega-menu-text mega-menu-link subtitulo-3">
                      {{ mega_link.title }}
                    </a>
                  </mega-menu-item>
                {% endfor %}
              </dropdown-mega-menu>
            {% endif %}
          </li>
        </ul>
      {% endfor %}
    </drawer-content>
  </nav>

  <img
    src="{{ settings.logo.src | img_url }}"
    alt="{{ settings.logo.alt }}"
    class="header-logo" />

  <nav class="navigation-menu">
    <ul class="menu-items">
      {% for link in section.settings.main-menu.links %}
        <li class="grow menu-item {% if link.links != blank %}has-mega-menu{% endif %}">
          <a href="{{ link.url }}" class="menu-link">
            <span class="menu-link-title subtitulo-3">{{ link.title }}</span>
            {% if link.links != blank %}
              {% render 'icon-arrow-down' %}
            {% endif %}
          </a>
          {% if link.links != blank %}
            <mega-menu>
              {% for mega_link in link.links %}
                <mega-menu-item>
                  <a href="{{ mega_link.url }}" class="mega-menu-text mega-menu-link subtitulo-3">
                    {{ mega_link.title }}
                  </a>
                </mega-menu-item>
              {% endfor %}
            </mega-menu>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

  <button class="grow add-to-cart">
    {% render 'icon-cart' %}
    <p class="add-to-cart-text subtitulo-2">{{ section.settings.atc-head-btn }}</p>
  </button>
</header>


{% schema %}
  {
    "name": "header",
    "settings": [
      {
        "type": "link_list",
        "id": "main-menu",
        "label": "Menu principal del encabezado"
      }, {
        "type": "text",
        "id": "atc-head-btn",
        "label": "Texto add to cart button",
        "default": "Carrito"
      }
    ]
  }
{% endschema %}