<hero-banner>
  <div class="flor-1">
    {% render 'flor-1' %}
  </div>
  <div class="flor-2">
    {% render 'flor-2' %}
  </div>
  <div class="flor-3">
    {% render 'flor-3' %}
  </div>
  <inline-half-container class="left">
    <hero-title>
      <h1 class="titulo-1 hero-title">
        {{ section.settings.hero-title }}
      </h1>
      <p class="parrafo-2 hero-subtitle">
        {{ section.settings.hero-subtitle }}
      </p>
    </hero-title>
    <hero-buttons>
      {% if section.settings.cta-1 != blank %}
        <button class="cta cta-1 subtitulo-3"><a class="cta-link" href="{{ section.settings.link-1 }}">{{ section.settings.cta-1 }}</a></button>
      {% endif %}
      {% if section.settings.cta-2 != blank %}
        <button class="cta cta-2 subtitulo-3"><a class="cta-link" href="{{ section.settings.link-1 }}">{{ section.settings.cta-2 }}</a></button>
      {% endif %}
    </hero-buttons>
  </inline-half-container>
  <inline-half-container class="right">
    <products-container class="overflow-auto drag-scroll">
      {% for hero-product in section.settings.hero-collection.products %}
        {% include 'product-card', hero-product: hero-product, atc-btn: section.settings.add-to-cart-title, classes: "hero" %}
      {% endfor %}
    </products-container>
  </inline-half-container>
</hero-banner>

{% schema %}
  {
    "name": "hero-banner",
    "settings": [
      {
        "type": "html",
        "id": "hero-title",
        "label": "Titulo principal H1",
        "default": "¿No sabes cómo decirlo? <br> Dilo con Flores."
      },
      {
        "type": "collection",
        "id": "hero-collection",
        "label": "Collection"
      },
      {
        "type": "textarea",
        "id": "hero-subtitle",
        "label": "Hero subtitle",
        "default": "Pellentesque cras adipiscing tempus libero vel nullam mauris tellus. Aliquam ultrices tellus consequat amet,"
      },
      {
        "type": "text",
        "id": "add-to-cart-title",
        "label": "Titulo principal H1",
        "default": "Añadir al carrito"
      }, {
        "type": "text",
        "id": "cta-1",
        "label": "Titulo de boton con fondo",
        "default": "Ver por Ocasión"
      }, 
      {
        "type": "url",
        "id": "link-1",
        "label": "link boton sin fondo"
      },
      {
        "type": "text",
        "id": "cta-2",
        "label": "Titulo boton sin fondo",
        "default": "Contactanos"
      },
      {
        "type": "url",
        "id": "link-2",
        "label": "link boton sin fondo"
      }
    ],
    "presets": [
    {
      "name": "hero-banner"
    }
  ]
  }
{% endschema %}