<section class="main-product">
  <main-pr-container>
    <div class="flor-2">
      {% render 'Flor-2' %}
    </div>
    <div class="flor-1">
      {% render 'Flor-1' %}
    </div>
    <product-page>
      <img src="{{ product.featured_image | img_url: product.featured_image.url }}" alt="{{ product.featured_image.alt }}" />
    </product-page>
    <product-information>
      <p class="subtitulo-3" id="pr-subtitle">
        {{ product.collections[0].title }}
      </p>
      <h3 class="titulo-3" id="pr-title">
        {{ product.title }}
      </h3>
      <h5 class="titulo-5" id="pr-price">
        {{ product.price | money }}
      </h5>
      <product-page id="responsive-image">
        <img id="responsive-image-2" src="{{ product.featured_image | img_url: product.featured_image.url }}" alt="{{ product.featured_image.alt }}" />
      </product-page>
      <p class="subtitulo-6" id="pr-description">
        {{ product.description | strip_html }}
      </p>
      <container-buttons>
        {% form 'product', product, class: "product-form", novalidate: 'novalidate' %}
          <select name="id" style="display: none;">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>
                {{ variant.title }} - {{ variant.price | money }}
              </option>
            {% endfor %}
          </select>
          <quantity>
            <input type="button" value="-" class="button-minus" data-field="quantity">
            <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
            <input type="button" value="+" class="button-plus" data-field="quantity">
          </quantity>
          <add-to-car>
            <button class="atc-product add-t-cart">
              {% render 'icon-cart' %}
              <p class="add-t-cart-text subtitulo-2">
                <b> {{ section.settings.button-title }} </b>
              </p>
            </button>
          </add-to-car>
          <payment class="subtitulo-2 payment-1">
            {{ form | payment_button }}
          </payment>
        {% endform %}
      </container-buttons>
      <faq class="faq-container-2">
        <question class="FAQ-title subtitulo-3">
          {{ block.settings['FAQ-title'] }}
          {% render 'icon-arrow-right-dropdown' %}
        </question>
        <answer class="FAQ-text parrafo-2">
          {{ block.settings['FAQ-text'] }}
        </answer>
      </faq>
      <container-spam>
        {% if section.settings.envio != blank %}
          <shipping class="extra-product">
            {% render 'icon-transport' %}
            <p class="subtitulo-2" id="ss">{{ section.settings.envio }}</p>
          </shipping>
        {% endif %}
        {% if section.settings.info-extra != blank %}
          <information class="extra-product">
            {% render 'icon-information' %}
            <p class="subtitulo-2" id="ss">{{ section.settings.info-extra }}</p>
          </information>
        {% endif %}
      </container-spam>
    </product-information>
  </main-pr-container>
  <add-combo>
    <title-add-combo>
      {% render 'button-plus' %}
      <p class="subtitulo-1" id="add-combo-title">
        {{ section.settings.agregar-combo }}
      </p>
    </title-add-combo>
  </add-combo>
  <div
  class="product-recommendations"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related"
  >
    {%- if recommendations.performed? and recommendations.products_count > 0 -%}
    {% if recommendations.intent == 'related' %}
      <h3 class="titulo-3" id="title-recommended">
        {{ section.settings.recommended-products }}
      </h3>
    {% elsif recommendations.intent == 'complementary' %}
      <h2>
        {{ section.settings.complementary-products }}
      </h2>
    {% endif %}
    <div class="c">
      <ul class="cc">
        {%- for product in recommendations.products -%}
          <a class="product-item" href="{{ product.url }}">
          {% include 'product-card',
            hero-product: product,
            atc-btn: section.settings['add-to-cart-title'],
            classes: ''
          %}
        </a>
        {%- endfor -%}
        <p class="cta subtitulo-2 s-d {% if section.settings.style-s == 'style 1' %} s2{% endif %} {% if section.settings.style-s == 'style 2' %} s2-1 {% endif %}">
          <a class="view-all-4" href="#" id="view-all-4">
          {{ section.settings['subtitulo-fotos'] }}
          {% render 'icon-arrow-right' %}
          </a>
        </p>
      </ul>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Página del producto",
    "settings": [
      {
        "type": "text",
        "id": "envio",
        "label": "Contenido del item envíos "
      }, {
        "type": "text",
        "id": "info-extra",
        "label": "Contenido del item informacion extra "
      }, {
        "type": "text",
        "id": "button-title",
        "label": "Titulo boton",
        "default": "Agregar al carrito"
      }, {
        "type": "product_list",
        "id": "collection",
        "label": "collection"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Boton de texto",
        "default": "Añadir al carrito"
      }, {
      "type": "text",
      "id": "subtitulo-fotos",
      "label": "Ver Todos",
      "default": "Ver todos"
    }, {
      "type": "text",
      "id": "title",
      "label": "titulo section",
      "default": "Otros Clientes también compraron"
    }, {
      "type": "text",
      "id": "agregar-combo",
      "label": "Agregar a tu Combo",
      "default": "Agregar a tu combo"
    }, {
      "type": "text",
      "id": "recommended-products",
      "label": "Productos recomendados",
      "default": "Otros Clientes también compraron"
    }, {
      "type": "text",
      "id": "complementary-products",
      "label": "Productos complementarios",
      "default": "Agrega a tu combo"
    }, {
      "type": "text",
      "id": "add-to-cart-title",
      "label": "Titulo Boton",
      "default": "Añadir al carrito"
    }
    ]
  }
{% endschema %}