{% form 'cart', cart %}
  <section class="cart page-width">
    <container-resumen-1>
      <met-pagos-1>
        <p class="subtitulo-2" id="pagos">Metodos de Pagos</p>
        <container-met-pagos>
          <metodo>
            {% render 'cart-vs' %}
          </metodo>
          <metodo>
            {% render 'cart-mc' %}
          </metodo>
          <metodo>
            {% render 'cart-pse' %}
          </metodo>
          <metodo>
            {% render 'cart-pu' %}
          </metodo>
        </container-met-pagos>
      </met-pagos-1>
    </container-resumen-1>

    <container-cart-item>
      <h1 class="titulo-4" id="title-cart">Mi carrito</h1>
      {% if cart.item_count == 0 %}
        <p class="titulo-5">No hay Arreglos en su carrito.</p>
      {% else %}
        {% for item in cart.items %}
          <cart-item data-item-key="{{ item.key }}">
            <image class="cart-item-image">
              {{ item.image | img_tag: 'cart-image-tag', '129x129' }}
            </image>
            <item-info>
              {% if item.product.collections[0].title %}
                <p class="parrafo-4 collection-tag">{{ item.product.collections[0].title }}</p>
              {% endif %}
              <h2 class="pc-title subtitulo-1">{{ item.product.title }}</h2>
              {% for tag in item.product.tags %}
                {% if tag == 'combo' %}
                  {% assign product_is_combo = true %}
                {% else %}
                  {% assign product_is_combo = false %}
                {% endif %}
              {% endfor %}
            </item-info>
            <responsive-container>
              <quantity>
                <input type="button" value="-" class="qButton button-minus" data-field="quantity">
                <input
                  type="number"
                  step="1"
                  max=""
                  value="{{ item.quantity }}"
                  name="quantity"
                  class="quantity-field"
                  readonly
                >
                <input type="button" value="+" class="qButton button-plus" data-field="quantity">
              </quantity>
            </responsive-container>
            <p class="subtitulo-4 price">{{ item.product.price | times: item.quantity | money_with_currency }}</p>

            <a id="remove" class="grow" href="{{ item.url_to_remove }}">{% render 'delete-cart' %}</a>
          </cart-item>
          <cart-item-responsive data-item-key="{{ item.key }}">
            {{ item.image | img_tag: item.image.alt, '', '124x124' }}
            <item-info>
              <p class="parrafo-4 collection-tag">{{ item.product.collections[0].title }}</p>
              <h2 class="pc-title subtitulo-1">{{ item.product.title }}</h2>
              <p class="price subtitulo-4">{{ item.product.price | times: item.quantity | money_with_currency }}</p>
              <quantity>
                <input type="button" value="-" class="qButton button-minus" data-field="quantity">
                <input
                  type="number"
                  step="1"
                  max=""
                  value="{{ item.quantity }}"
                  name="quantity"
                  class="quantity-field"
                  readonly
                >
                <input type="button" value="+" class="qButton button-plus" data-field="quantity">
              </quantity>
            </item-info>
            <a href="{{ item.url_to_remove }}">{% render 'delete-cart' %}</a>
          </cart-item-responsive>
        {% endfor %}
        <textarea name="note" form="cart" class="hidden"></textarea>
      {% endif %}
    </container-cart-item>
    <container-resumen>
      <met-pagos>
        <p class="subtitulo-2" id="pagos">Metodos de Pagos</p>
        <container-met-pagos>
          <metodo>
            {% render 'cart-vs' %}
          </metodo>
          <metodo>
            {% render 'cart-mc' %}
          </metodo>
           <metodo>
            {% render 'cart-pse' %}
          </metodo>
          <metodo>
            {% render 'cart-pu' %}
          </metodo>
        </container-met-pagos>
      </met-pagos>
      <cart-info>
        <summary>
          <summary-1>
            <p class="subtitulo-2">Resumen</p>
            {% for item in cart.items %}
              <summary-cart-item>
                <span id="df" class="parrafo-3">{{ item.product.title }}</span>
                <span id="di" class="subtitulo-4">
                  {{- item.product.price | times: item.quantity | money_with_currency -}}
                </span>
              </summary-cart-item>
            {% endfor %}
          </summary-1>
          <cart-total>
            <span class="subtitulo-2" id="subtotal-cart">Subtotal</span>
            <span class="subtitulo-4">{{ cart.total_price | money_with_currency }}</span>
          </cart-total>
        </summary>
      </cart-info>
      {% assign combo_in_cart = false %}
      {% for item in cart.items %}
        {% for tag in item.product.tags %}
          {% if tag == 'combo' %}
            {% assign combo_in_cart = true %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      {% assign product_without_combo = false %}
      {% for item in cart.items %}
        {% unless item.product.tags contains 'combo' %}
          {% assign product_without_combo = true %}
        {% endunless %}
      {% endfor %}

      {% if combo_in_cart %}
        {% if product_without_combo %}
          <input type="submit" name="checkout" class="button-cart subtitulo-2 grow" value="Realizar Compra">
        {% else %}
          <p class="subtitulo-3">Por favor agrega un arreglo a tu combo</p>
        {% endif %}
      {% else %}
        <input type="submit" name="checkout" class="button-cart subtitulo-2 grow" value="Realizar Compra">
      {% endif %}
    </container-resumen>
    <cart-footer>
      <span class="ft-subtotal">
        <p class="subtitulo-4" id="gf">Subtotal</p>
        <p class="price subtitulo-3" id="gd">{{ cart.total_price | money_with_currency }}</p>
      </span>
      <span class="button-comprar-responsive">
        {% if combo_in_cart %}
          {% if product_without_combo %}
            <input type="submit" name="checkout" class="button-cart subtitulo-4 grow" value="Realizar Compra">
          {% else %}
            <p class="subtitulo-5">Por favor agrega un arreglo a tu combo</p>
          {% endif %}
        {% else %}
          <input type="submit" name="checkout" class="button-cart subtitulo-4 grow" value="Realizar Compra">
        {% endif %}
      </span>
    </cart-footer>
  </section>
{% endform %}
{% schema %}
{
  "name": "main cart",
  "settings": [
    {
      "type": "text",
      "id": "cart-note",
      "label": "Contenido del item envíos ",
      "default": "Agregar mensaje personalizado"
    },

    {
      "type": "text",
      "id": "agregar-combo",
      "label": "Agregar a tu Combo",
      "default": "Agregar a tu combo"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
