<section class="cart page-width">
  <container-cart-item>
    <h1 class="titulo-4" id="title-cart">Mi carrito</h1>
    {% if cart.item_count == 0 %}
      <p class="titulo-5">No hay Arreglos en su carrito.</p>
    {% else %}
      {% form 'cart', cart %}
        {% for item in cart.items %}
          <cart-item data-item-key="{{ item.key }}">
            <image class="cart-item-image">
              {{ item.image | img_tag: 'cart-image-tag', '129x129' }}
            </image>
            <item-info>
              <p class="parrafo-4 collection-tag">{{ item.product.collections[0].title }}</p>
              <h2 class="subtitulo-1">{{ item.product.title }}</h2>
              <cart-note class="subtitulo-5">
                {% render 'cart-note' %}
                {{ section.settings['cart-note'] }}
              </cart-note>
            </item-info>
            <responsive-container>
              <quantity>
                <input type="button" value="-" class="qButton button-minus" data-field="quantity">
                <input
                  type="number"
                  step="1"
                  max=""
                  value="{{ item.quantity }}"
                  name="quantity"
                  class="quantity-field"
                  readonly
                >
                <input type="button" value="+" class="qButton button-plus" data-field="quantity">
              </quantity>
            </responsive-container>
            <p class="price">{{ item.product.price | money_with_currency }}</p>

            <a href="{{ item.url_to_remove }}">{% render 'delete-cart' %}</a>
          </cart-item>
          <cart-item-responsive data-item-key="{{ item.key }}">
            {{ item.image | img_tag: item.image.alt, '', '124x124' }}
            <item-info>
              <p class="parrafo-4 collection-tag">{{ item.product.collections[0].title }}</p>
              <h2 class="subtitulo-1">{{ item.product.title }}</h2>
              <p class="price">{{ item.product.price | money_with_currency }}</p>
              <quantity>
                <input type="button" value="-" class="qButton button-minus" data-field="quantity">
                <input
                  type="number"
                  step="1"
                  max=""
                  value="{{ item.quantity }}"
                  name="quantity"
                  class="quantity-field"
                  readonly
                >
                <input type="button" value="+" class="qButton button-plus" data-field="quantity">
              </quantity>
              <cart-note class="subtitulo-5">
                {% render 'cart-note' %}
                {{ section.settings['cart-note'] }}
              </cart-note>
            </item-info>
            <a href="{{ item.url_to_remove }}">{% render 'delete-cart' %}</a>
          </cart-item-responsive>
        {% endfor %}
      {% endform %}
    {% endif %}
    <add-combo>
      <title-add-combo>
        {% render 'button-plus' %}
        <p class="subtitulo-1" id="add-combo-title">
          {{ section.settings['agregar-combo'] }}
        </p>
      </title-add-combo>
    </add-combo>
  </container-cart-item>
  <container-resumen>
    <met-pagos>
      <p class="subtitulo-2" id="pagos">Metodos de Pagos</p>
      <container-met-pagos>
        <metodo>
          {% render 'cart-vs' %}
        </metodo>
        <metodo>
          {% render 'cart-mc' %}
        </metodo>

        <metodo>
          {% render 'cart-mp' %}
        </metodo>
        <metodo>
          {% render 'cart-pu' %}
        </metodo>
      </container-met-pagos>
    </met-pagos>
    <cart-info>
      <summary>
        <summary-1>
          <p class="subtitulo-2">Resumen</p>
          {% for item in cart.items %}
            <summary-cart-item>
              <span id="df" class="parrafo-3">{{ item.product.title }}</span>
              <span class="parrafo-2">{{ item.product.price | money_with_currency }}</span>
            </summary-cart-item>
          {% endfor %}
        </summary-1>
        <cart-total>
          <span class="subtitulo-2" id="subtotal-cart">Subtotal</span>
          <span class="parrafo-1">{{ cart.total_price | money_with_currency }}</span>
        </cart-total>
      </summary>
    </cart-info>
    <button-cart name="Comprar" class="subtitulo-2">Realizar Compra</button-cart>
  </container-resumen>
  <cart-footer>
    <span class="ft-subtotal">
      <p class="subtitulo-5">Subtotal</p>
      <p class="price parrafo-1">{{ cart.total_price | money_with_currency }}</p>
    </span>
    <span class="button-comprar-responsive">
      <button-cart name="Comprar" class="subtitulo-2">Realizar Compra</button-cart>
    </span>
  </cart-footer>
</section>
{% schema %}
{
  "name": "main cart",
  "settings": [
    {
      "type": "text",
      "id": "cart-note",
      "label": "Contenido del item envíos ",
      "default": "Agregar mensaje personalizado"
    },

    {
      "type": "text",
      "id": "agregar-combo",
      "label": "Agregar a tu Combo",
      "default": "Agregar a tu combo"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
