<section class="product-page">
  <div class="flor-2">
    {% render 'Flor-2' %}
  </div>
  <div class="flor-1">
    {% render 'Flor-1' %}
  </div>
  <product-page class="container">
    <prouct-img>
      <carrusel></carrusel>
      <img>
    </prouct-img>
    <product-information>
      <collection-title class="subtitulo-3">
        {{ product.collections[0].title }}
      </collection-title>
      <product-title class="titulo-3">
        {{ product.title }}
      </product-title>
      <product-price class="titulo-4">
        {{ product.price | money }}
      </product-price>
      <product-description class="parrafo-2">
        {{ product.description }}
      </product-description>
      {% form 'product', product, class: "product-form", novalidate: 'novalidate' %}
        <input name="id" type="hidden">
          {% for variant in product.variants %}
            <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>
              {{ variant.title }} - {{ variant.price | money }}
            </option>
          {% endfor %}
        </input>
        <input
          type="text"
          name="quantity"
          min="1"
          value="1">
        <input type="submit" value="Add to cart">
        {{ form | payment_button }}

      {% endform %}

      <quantity></quantity>

      {% if section.settings.envio != blank %}
        <shipping class="extra-product">
          {% render 'icon-transport' %}
          <p class="subtitulo-2">{{ section.settings.envio }}</p>
        </shipping>
      {% endif %}
      {% if section.settings.info-extra != blank %}
        <information class="extra-product">
          {% render 'icon-information' %}
          <p class="subtitulo-2">{{ section.settings.info-extra }}</p>
        </information>
      {% endif %}
    </product-information>
  </product-page>
</section>
{% schema %}
  {
    "name": "Página del producto",
    "settings": [
      {
        "type": "text",
        "id": "envio",
        "label": "Contenido del item envíos "
      }, {
        "type": "text",
        "id": "info-extra",
        "label": "Contenido del item informacion extra "
      }
    ]
  }
{% endschema %}