<section class="main-product">
  <main-pr-container>
    <div class="flor-2">
      {% render 'Flor-2' %}
    </div>
    <div class="flor-1">
      {% render 'Flor-1' %}
    </div>
    <product-page>
    </product-page>
    <product-information>
      <p class="subtitulo-3" id="pr-subtitle">
        {{ product.collections[0].title }}
      </p>
      <h3 class="titulo-3" id="pr-title">
        {{ product.title }}
      </h3>
      <h4 class="titulo-4" id="pr-price">
        {{ product.price | money }}
      </h4>
      <p class="subtitulo-6" id="pr-description">
        {{ product.description }}
      </p>
      <container-buttons>
        {% form 'product', product, class: "product-form", novalidate: 'novalidate' %}
          <select name="id" style="display: none;">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>
                {{ variant.title }} - {{ variant.price | money }}
              </option>
            {% endfor %}
          </select>
          <quantity>
            <input type="button" value="-" class="button-minus" data-field="quantity">
            <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
            <input type="button" value="+" class="button-plus" data-field="quantity">
          </quantity>
          <add-to-car>
            <button class="atc-product add-t-cart">
              {% render 'icon-cart' %}
              <p class="add-to-cart-text subtitulo-2">
                <b> {{ section.settings.button-title }} </b>
              </p>
            </button>
          </add-to-car>
          <payment class="subtitulo-2 payment-1">
            {{ form | payment_button }}
          </payment>
        {% endform %}
      </container-buttons>
    </product-information>
  </main-pr-container>
  <secondary-container>
    {% render 'button-plus' %}
    <h4 class="titulo-4" id="t-plus">
      {{ section.settings.agregar-combo }}
    </h4>
  </secondary-container>
  <div
  class="product-recommendations"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related"
>
  {%- if recommendations.performed? and recommendations.products_count > 0 -%}
    {% if recommendations.intent == 'related' %}
      <h2>You may also like</h2>
    {% elsif recommendations.intent == 'complementary' %}
      <h2>Pair it with</h2>
    {% endif %}

    <ul>
      {%- for product in recommendations.products -%}
        <li class="product">
          <a href="{{ product.url }}">
            <img
              class="product__img"
              src="{{ product.featured_image | image_url: width: 300, height: 300 }}"
              alt="{{ product.featured_image.alt }}"
            />

            <p class="product__title">{{ product.title }}</p>
            <p class="product__price">{{ product.price | money}}</p>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
{% javascript %}
  const handleIntersection = (entries, observer) => {
    if (!entries[0].isIntersecting) return;

    observer.unobserve(productRecommendationsSection);

    const url = productRecommendationsSection.dataset.url;

    fetch(url)
      .then(response => response.text())
      .then(text => {
        const html = document.createElement('div');
        html.innerHTML = text;
        const recommendations = html.querySelector('.product-recommendations');

        if (recommendations && recommendations.innerHTML.trim().length) {
          productRecommendationsSection.innerHTML = recommendations.innerHTML;
        }
      })
      .catch(e => {
        console.error(e);
      });
  };

  const productRecommendationsSection = document.querySelector('.product-recommendations');
  const observer = new IntersectionObserver(handleIntersection, {rootMargin: '0px 0px 200px 0px'});

  observer.observe(productRecommendationsSection);
{% endjavascript %}
{% schema %}
  {
    "name": "Product recommendations",
    "settings": []
  }
{% endschema %}
</section>

{% schema %}
  {
    "name": "Página del producto",
    "settings": [
      {
        "type": "text",
        "id": "envio",
        "label": "Contenido del item envíos "
      }, {
        "type": "text",
        "id": "info-extra",
        "label": "Contenido del item informacion extra "
      }, {
        "type": "text",
        "id": "button-title",
        "label": "Titulo boton",
        "default": "Agregar al carrito"
      }, {
        "type": "product_list",
        "id": "collection",
        "label": "collection"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Boton de texto",
        "default": "Añadir al carrito"
      }, {
      "type": "text",
      "id": "subtitulo-fotos",
      "label": "Ver Todos",
      "default": "Ver todos"
    }, {
      "type": "text",
      "id": "title",
      "label": "titulo section",
      "default": "Otros Clientes también compraron"
    }, {
      "type": "text",
      "id": "agregar-combo",
      "label": "Agregar a tu Combo",
      "default": "Agregar a tu combo"
    }
    ]
  }
{% endschema %}