{% form 'cart', cart %}
  <section class="cart page-width">
    <container-cart-item>
      <h1 class="titulo-4" id="title-cart">Mi carrito</h1>
      {% if cart.item_count == 0 %}
        <p class="titulo-5">No hay Arreglos en su carrito.</p>
      {% else %}
        {% for item in cart.items %}
          <cart-item data-item-key="{{ item.key }}">
            <image class="cart-item-image">
              {{ item.image | img_tag: 'cart-image-tag', '129x129' }}
            </image>
            <item-info>
              <p class="parrafo-4 collection-tag">{{ item.product.collections[0].title }}</p>
              <h2 class="pc-title subtitulo-1">{{ item.product.title }}</h2>
              <button-note class="cart-note subtitulo-5">
                {% render 'cart-note' %}
                {{ section.settings['cart-note'] }}
              </button-note>
              <div class="popup">
                <div class="popup-content">
                  <textarea id="note" name="attributes[{{ item.product.title }}]" form="cart"></textarea>
                </div>
              </div>
            </item-info>
            <responsive-container>
              <quantity>
                <input type="button" value="-" class="qButton button-minus" data-field="quantity">
                <input
                  type="number"
                  step="1"
                  max=""
                  value="{{ item.quantity }}"
                  name="quantity"
                  class="quantity-field"
                  readonly
                >
                <input type="button" value="+" class="qButton button-plus" data-field="quantity">
              </quantity>
            </responsive-container>
            <p class="subtitulo-4 price">{{ item.product.price | money_with_currency }}</p>

            <a id="remove" href="{{ item.url_to_remove }}">{% render 'delete-cart' %}</a>
          </cart-item>
          <cart-item-responsive data-item-key="{{ item.key }}">
            {{ item.image | img_tag: item.image.alt, '', '124x124' }}
            <item-info>
              <p class="parrafo-4 collection-tag">{{ item.product.collections[0].title }}</p>
              <h2 class="pc-title subtitulo-1">{{ item.product.title }}</h2>
              <p class="price subtitulo-4">{{ item.product.price | money_with_currency }}</p>
              <quantity>
                <input type="button" value="-" class="qButton button-minus" data-field="quantity">
                <input
                  type="number"
                  step="1"
                  max=""
                  value="{{ item.quantity }}"
                  name="quantity"
                  class="quantity-field"
                  readonly
                >
                <input type="button" value="+" class="qButton button-plus" data-field="quantity">
              </quantity>
              <button-note class="cart-note subtitulo-5">
                {% render 'cart-note' %}
                {{ section.settings['cart-note'] }}
              </button-note>
              <div class="popup">
                <div class="popup-content">
                  <textarea
                    id="note"
                    name="attributes[{{ item.product.title }}]"
                    class="subtitulo-2"
                    form="cart"
                  ></textarea>
                </div>
              </div>
            </item-info>
            <a href="{{ item.url_to_remove }}">{% render 'delete-cart' %}</a>
          </cart-item-responsive>
        {% endfor %}
        <textarea name="note" form="cart" class="hidden"></textarea>
      {% endif %}
      <add-combo>
        <title-add-combo>
          {% render 'button-plus' %}
          <p class="subtitulo-1" id="add-combo-title">
            {{ section.settings['agregar-combo'] }}
          </p>
        </title-add-combo>
      </add-combo>
    </container-cart-item>
    <container-resumen>
      <met-pagos>
        <p class="subtitulo-2" id="pagos">Metodos de Pagos</p>
        <container-met-pagos>
          <metodo>
            {% render 'cart-vs' %}
          </metodo>
          <metodo>
            {% render 'cart-mc' %}
          </metodo>
          <metodo>
            {% render 'cart-mp' %}
          </metodo>
          <metodo>
            {% render 'cart-pu' %}
          </metodo>
        </container-met-pagos>
      </met-pagos>
      <cart-info>
        <summary>
          <summary-1>
            <p class="subtitulo-2">Resumen</p>
            {% for item in cart.items %}
              <summary-cart-item>
                <span id="df" class="parrafo-3">{{ item.product.title }}</span>
                <span id="di" class="subtitulo-4">{{ item.product.price | money_with_currency }}</span>
              </summary-cart-item>
            {% endfor %}
          </summary-1>
          <cart-total>
            <span class="subtitulo-2" id="subtotal-cart">Subtotal</span>
            <span class="subtitulo-4">{{ cart.total_price | money_with_currency }}</span>
          </cart-total>
        </summary>
      </cart-info>
      <input type="submit" name="checkout" class="button-cart subtitulo-2" value="Realizar Compra">
    </container-resumen>
    <cart-footer>
      <span class="ft-subtotal">
        <p class="subtitulo-4" id="gf">Subtotal</p>
        <p class="price subtitulo-3" id="gd">{{ cart.total_price | money_with_currency }}</p>
      </span>
      <span class="button-comprar-responsive">
        <input type="submit" name="checkout" class="button-cart subtitulo-4" value="Realizar Compra">
      </span>
    </cart-footer>
    <script>
      const noteButtons = document.querySelectorAll('.cart-note');

            noteButtons.forEach(function(button) {
              button.addEventListener('click', function(e) {

                const popup = this.nextElementSibling;

                if (popup.classList.contains('open')) {
                  // If the popup is currently open, close it
                  popup.style.height = '0px';
                  popup.classList.remove('open');
                } else {
                  // If the popup is currently closed, open it
                  popup.style.height = 'auto';
                  popup.classList.add('open');
                }

              });
            });

            document.addEventListener('DOMContentLoaded', function() {
        var textareas = document.querySelectorAll('.popup-content textarea');
        var hiddenTextarea = document.querySelector('textarea[name="note"]');

        textareas.forEach(function(textarea) {
          textarea.addEventListener('keyup', function() {
            var notes = [];
            textareas.forEach((ta) => {
              var productTitle = ta.closest('cart-item, cart-item-responsive').querySelector('.pc-title').innerText;
              var note = ta.value;

              if (note) {
                notes.push(productTitle + ': ' + note);
              }
            });

            hiddenTextarea.value = notes.join('. ');

            jQuery.post(window.Shopify.routes.root + 'cart/update.js', { note: notes });
          });
        });
      });
    </script>
  </section>
{% endform %}
{% schema %}
{
  "name": "main cart",
  "settings": [
    {
      "type": "text",
      "id": "cart-note",
      "label": "Contenido del item envíos ",
      "default": "Agregar mensaje personalizado"
    },

    {
      "type": "text",
      "id": "agregar-combo",
      "label": "Agregar a tu Combo",
      "default": "Agregar a tu combo"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
