<section class="main-product">
  <main-pr-container>
    <div class="flor-2">
      {% render 'Flor-2' %}
    </div>
    <div class="flor-1">
      {% render 'Flor-1' %}
    </div>
    <product-page>
    </product-page>
    <product-information>
      <p class="subtitulo-3" id="pr-subtitle">
        {{ product.collections[0].title }}
      </p>
      <h3 class="titulo-3" id="pr-title">
        {{ product.title }}
      </h3>
      <h4 class="titulo-4" id="pr-price">
        {{ product.price | money }}
      </h4>
      <p class="subtitulo-6" id="pr-description">
        {{ product.description }}
      </p>
      <container-buttons>
        {% form 'product', product, class: "product-form", novalidate: 'novalidate' %}
          <select name="id" style="display: none;">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>
                {{ variant.title }} - {{ variant.price | money }}
              </option>
            {% endfor %}
          </select>
          <quantity>
            <input type="button" value="-" class="button-minus" data-field="quantity">
            <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
            <input type="button" value="+" class="button-plus" data-field="quantity">
          </quantity>
          <add-to-car>
            <button class="atc-product add-t-cart">
              {% render 'icon-cart' %}
              <p class="add-to-cart-text subtitulo-2">
                <b> {{ section.settings.button-title }} </b>
              </p>
            </button>
          </add-to-car>
          <payment class="subtitulo-2 payment-1">
            {{ form | payment_button }}
          </payment>
        {% endform %}
      </container-buttons>
    </product-information>
  </main-pr-container>
  <div
  class="product-recommendations"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related"
  >
    {%- if recommendations.performed? and recommendations.products_count > 0 -%}
    {% if recommendations.intent == 'related' %}
      <h3 class="titulo-3">
        {{ section.settings.recommended-products }}
      </h3>
    {% elsif recommendations.intent == 'complementary' %}
      <h2>
        {{ section.settings.complementary-products }}
      </h2>
    {% endif %}
    <div class="c">
      <ul class="cc">
        {%- for product in recommendations.products -%}
          <a class="product-item" href="{{ product.url }}">
          {% include 'product-card',
            hero-product: product,
            atc-btn: section.settings['add-to-cart-title'],
            classes: ''
          %}
        </a>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Página del producto",
    "settings": [
      {
        "type": "text",
        "id": "envio",
        "label": "Contenido del item envíos "
      }, {
        "type": "text",
        "id": "info-extra",
        "label": "Contenido del item informacion extra "
      }, {
        "type": "text",
        "id": "button-title",
        "label": "Titulo boton",
        "default": "Agregar al carrito"
      }, {
        "type": "product_list",
        "id": "collection",
        "label": "collection"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Boton de texto",
        "default": "Añadir al carrito"
      }, {
      "type": "text",
      "id": "subtitulo-fotos",
      "label": "Ver Todos",
      "default": "Ver todos"
    }, {
      "type": "text",
      "id": "title",
      "label": "titulo section",
      "default": "Otros Clientes también compraron"
    }, {
      "type": "text",
      "id": "agregar-combo",
      "label": "Agregar a tu Combo",
      "default": "Agregar a tu combo"
    }, {
      "type": "text",
      "id": "recommended-products",
      "label": "Productos recomendados",
      "default": "Otros Clientes también compraron"
    }, {
      "type": "text",
      "id": "complementary-products",
      "label": "Productos complementarios",
      "default": "Agrega a tu combo"
    }
    ]
  }
{% endschema %}