<section class="main-politics">
  <main-politics class="page-width">
    <h1 class="title-politics">
      {{ page.title }}
    </h1>
    <p class="fecha-politics">
      {{ page.published_at | date: '%m/ %d/ %Y' }}
    </p>
    <div class="content-politics">
      {{ page.content }}
    </div>


    {{ section.settings.menu.title }}
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </main-politics>
</section>


{% schema %}
  {
    "name": "main politics",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }

    ]
  }
{% endschema %}