<section class="4-product page-width">
  <container-arreglos>
    <p class="subtitulo-3 s3" id="p-subtitle">
      {{ section.settings.arreglos-subtitle }}
    </p>
    <h1 class="titulo-1 t1" id="p-title">
      {{ section.settings.arreglos-title }}
    </h1>
  </container-arreglos>
  <container-4products>
    {% for product in section.settings.collection.products limit:4 %}
        {% include 'product-card', hero-product: product, atc-btn: section.settings.button-text %}
    {% endfor %}
    <p class="subtitulo-2 s2">
      {{ section.settings['subtitulo-fotos'] }}
    </p>
  </container-4products>
</section>
<section class="preguntas-frecuentes">
  <container>
    <h5 class="subtitulo-3 s3" id="subtitulo-preguntas">
      {{ section.settings['subtitle-preguntas'] }}
    </h5>
    <h1 class="titulo-1 t1" id="titulo-preguntas">
      {{ section.settings['title-preguntas'] }}
    </h1>
  </container>
  <preguntas>
    {% for block in section.blocks %}
      <div class="FAQ-title">
        {{ block.settings.FAQ-title }}
        {% render 'icon-arrow-right-dropdown' %}
      </div>
      <div class="FAQ-text">
        {{ block.settings.FAQ-text }}
      </div>
    {% endfor %}
  </preguntas>
</section>

{% schema %}
  {
    "name": "products faq",
    "settings": [
      {
        "type": "text",
        "id": "arreglos-title",
        "label": "Titulo",
        "default": "Lorem ipsum dolor sit amet"
      }, {
        "type": "text",
        "id": "arreglos-subtitle",
        "label": "Subtitulo",
        "default": "Arreglos Funebres"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Boton de texto",
        "default": "Añadir al carrito"
      }, {
			"type": "text",
			"id": "title-preguntas",
			"label": "Title section",
			"default": "Sobre Cardó"
		}, {
			"type": "text",
			"id": "subtitle-preguntas",
			"label": "subtitle-preguntas",
			"default": "preguntas frecuentes"
		}, {
      "type": "text",
      "id": "subtitulo-fotos",
      "label": "Ver Todos",
      "default": "Ver todos"
    }
	],
	"blocks": [
		{
			"type": "FAQ",
			"name": "FAQ",
      "limit": 5,
			"settings": [
        {
          "type": "text",
          "id": "FAQ-title",
          "label": "FAQ-title",
          "default": "Example"
        }, {
          "type": "text",
          "id": "FAQ-text",
          "label": "FAQ-text",
          "default": "Example"
        }
			]
		}
	],
   "presets": [
     {
       "category": "custom-collection-banner",
       "name": "Custom collection section Flores"
     }
   ]
  }
{% endschema %}